<div class="position-bottom">
    <div *ngFor="let mess of messages">
        <div class="shadow m-2 is-relative notify-animation" [ngClass]="mess.sClass"
            [ngStyle]="{'background-color': mess.alertColor.bgColor}" style="width: 350px; ">
            <div *ngIf="mess.imgSrc">
                <img [src]="mess.imgSrc">
            </div>
            <div class="columns m-2 px-3 py-2">
                <div class="column is-2 p-0">
                    <i *ngIf="!mess.isLoading; else loading" class="fas is-size-2"
                        [ngStyle]="{'color': mess.alertColor.color}" [ngClass]="[mess.icon]"></i>
                    <ng-template #loading>
                        <div class="loader-wrapper">
                            <div class="loader is-loading"></div>
                        </div>
                    </ng-template>

                </div>
                <div class="column is-10 p-0">
                    <strong class="is-size-5" [ngStyle]="{'color': mess.alertColor.color}">{{mess.header}}</strong>
                    <span style="display: block;" [ngStyle]="{'color': mess.alertColor.color}">{{mess.message}}</span>
                </div>

            </div>
            <div style="position: absolute; top: 0; right: 0;" class="mr-2 mt-2">
                <button class="button is-small is-rounded" style="background-color: transparent;"
                    [ngStyle]="{'color': mess.alertColor.color}" (click)="removeNotification(mess)">
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>


</div>