.position-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loader {
    height: 38px;
    width: 38px;
}

.notification-animation-in {
    animation: addNotification .4s ease-in;
    animation-fill-mode: forwards; 
    
}

.notification-animation-out{
    animation: removeNotification .4s ease-in-out;
    animation-fill-mode: forwards; 
}

@keyframes addNotification {
    0% {
        right: -100%;
        opacity: 0;
    }
    50%{
        opacity: .5;
    }
    100% {
        right: 0%;
        opacity: 1;
    }
}

@keyframes removeNotification {
    0% {
        right: 0%;
        opacity: 1;
    }
    50%{
    }
    100% {
        right: -100%;
        opacity: 0;
    }
}
