<button class="button" (click)="addValue()">Test</button>


<button class="button" (click)="Loading()">Loading</button>
<button class="button" (click)="Success()">Sucess</button>
<button class="button" (click)="removeLoadin()">Remove Loading</button>


<button class="button" (click)="Error()">Error</button>
<button class="button" (click)="Information()">Information</button>
<button class="button" (click)="Warning()">Warning</button>
<button class="button" (click)="Question()">Question</button>

<button class="button" (click)="alertMess()">Alert Message</button>
<lib-toast-notify></lib-toast-notify>
<lib-alert-notify-bottom></lib-alert-notify-bottom>