<div *ngIf="showBox" class="position-all"
    [ngClass]="[showAlert?'main-banner-animation-in':'main-banner-animation-out']">
    <div class="background-shadow" (click)="closeWindow()">

    </div>
    <div class="message-view p-3 " [ngClass]="[showAlert?'alert-animation-in':'alert-animation-out']">
        <div class=" has-text-centered">
            <strong class="is-size-5">{{alert.header}}</strong>
        </div>
        <div class="has-text-centered">
            <span>{{alert.message}}</span>
        </div>
        <div class="has-text-centered my-2">

            <button class="button mx-2" [ngClass]="[item.type]" *ngFor="let item of alert.button"
                (click)="selectedOption(item)">{{item.name}}</button>

        </div>
    </div>

</div>