.position-all{
    position:absolute; 
    top:0; 
    height: 100%; 
    width: 100%; 
    display: grid;
}

.message-view{
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    background-color: white;
}
.background-shadow{
    background-color: black; 
    opacity: .4;
}


.alert-animation-in{
    animation: alert-in .5s ease-in;
    animation-fill-mode: forwards; 
    }

    .alert-animation-out{
        animation: alert-out .5s ease-in-out;
        animation-fill-mode: forwards; 
        }



        .main-banner-animation-in{
            animation: main-banner-in .5s ease-in;
            animation-fill-mode: forwards; 
        }
        .main-banner-animation-out{
            animation: main-banner-out .5s ease-in-out;
            animation-fill-mode: forwards; 
        }

@keyframes alert-in {
    0% {bottom: -50%; opacity: 0;}
    50% { opacity: .5;}
    100% {bottom: 0; opacity: 1;}
}

@keyframes alert-out {
    0% {bottom: 0; opacity: 1;}
    50% { opacity: .5;}
    100% {bottom: -50%; opacity: 0;}
}

@keyframes main-banner-in {
    0% {opacity: 0;} 
    50% { opacity: .5;}
    100% {opacity: 1;}
}

@keyframes main-banner-out {
    0% {opacity: 1;} 
    50% { opacity: .5;}
    100% {opacity: 0;}
}